body {
  background-image: url(../../imgs/destination/background-destination-mobile.jpg);
  background-position: center;
  background-size: cover;

  @include MediaQ(medium) {
    background-image: url(../../imgs/destination/background-destination-mobile.jpg);
  }

  @include MediaQ(large) {
    background-image: url(../../imgs/destination/background-destination-desktop.jpg);
  }

  section {
    .container {
      color: white;
      text-align: center;
      position: relative;

      @include MediaQ(xLarge) {
        width: 85%;
        margin: 0 auto;
        position: relative;
        @include centerlize(space-between, center);
        gap: 140px;
      }

      .head-destination {

        /// this mixin for global styels for head title of the pages
        @include headTitle() {
          @include MediaQ(medium) {
            position: relative;
            margin: 70px 0;
            transform: translateX(-30px)
          }
        }
      }


      .img-slider {
        width: 170px;
        height: 170px;
        margin: 35px auto 20px;
        overflow: hidden;
        position: relative;

        @include MediaQ(medium) {
          width: 300px;
          height: 300px;
        }

        @include MediaQ(xLarge) {
          width: 400px;
          height: 400px;
          margin: 85px 0 0 0;
        }

        img {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          transform: scale(0);
          transition: .5s ease-in-out;

        }
      }

      .planets-data {
        @include centerlize(center, space-evenly);
        flex-direction: column;

        @include MediaQ(xLarge) {
          text-align: start;
          width: 50%;
        }


        .destination {
          button {
            //font size , line height
            @include button-details(13px, 30px);

            @include MediaQ(medium) {
              @include button-details(21px, 35px);
            }
          }
        }

        .info {
          position: relative;
          width: 100%;
          height: calc(897px - 445px);

          @include MediaQ(medium) {
            height: calc(897px - 470px);
          }

          .card {
            height: 100%;
            width: 100%;
            position: absolute;
            top: 0;
            left: 0;
            transform: scale(0);
            transition: .5s ease-in-out;
            overflow: hidden;

            .planet-title {
              margin-bottom: 20px;

              h3 {
                //font size , line height
                @include fonts-details(var(--fs-title), var(--ln-title));
                letter-spacing: 2px;
                margin: 30px 0;
              }

              p {
                color: $maincolor;
                @include fonts-details(var(--fs-para), var(--ln-para));
                letter-spacing: 2px;
                padding-bottom: 45px;
                position: relative;


                &::after {
                  content: "";
                  position: absolute;
                  bottom: 0;
                  left: 0;
                  width: 100%;
                  height: 1px;
                  background-color: #383B4B;

                }
              }
            }

            .planets-distance {
              @include centerlize(space-evenly, center);
              flex-direction: column;
              gap: 25px;

              @include MediaQ(xLarge) {
                @include centerlize(space-between, center);
                flex-direction: row;
                margin: 10px 0;

              }

              @include MediaQ(medium) {
                flex-direction: row;
              }

              .distance {
                @include MediaQ(medium) {
                  margin: 25px 0;
                }

                @include MediaQ(xLarge) {
                  margin: 10px 0;
                }

                small {
                  @include fonts-details(15px, 20px);
                  color: $maincolor;

                  @include MediaQ(medium) {
                    //font size , line height
                    @include fonts-details(18px, 25px);
                    display: block;
                    margin-bottom: 20px;
                  }
                }

                h4 {

                  @include fonts-details(calc(var(--fs-title) - 1rem), var(--ln-title));
                  margin-top: 10px;

                  @include MediaQ(medium) {
                    margin: 0;
                  }

                  @include MediaQ(xLarge) {
                    margin: 0;
                  }
                }
              }

              .travel-time {
                small {
                  //font size , line height
                  @include fonts-details(15px, 20px);
                  color: $maincolor;

                  @include MediaQ(medium) {
                    //font size , line height
                    @include fonts-details(18px, 25px);
                    display: block;
                    margin-bottom: 20px;
                  }
                }

                h4 {
                  //font size , line height
                  @include fonts-details(calc(var(--fs-title) - 1rem), var(--ln-title));
                  margin: 10px 0 20px;

                  @include MediaQ(medium) {
                    margin: 0;
                  }

                  @include MediaQ(xLarge) {
                    margin: 0;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}