@mixin P-one-mobile {
  font-family: Barlow Condensed;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 2.700000047683716px;
  text-align: center;
}
@mixin P-two-mobile {
  font-family: Bellefair;
  font-size: 80px;
  font-style: normal;
  font-weight: 400;
  line-height: 100px;
  letter-spacing: 0px;
  text-align: center;
  margin: 20px 0;
}
@mixin P-three-mobile {
  font-family: Barlow;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 25px;
  letter-spacing: 0px;
  text-align: center;
}

@mixin P-one-tap {
  font-family: Barlow Condensed;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 3.375px;
  text-align: center;
  margin: 10px 0;
}
@mixin P-two-tap {
  font-family: Bellefair;
  font-size: 150px;
  font-style: normal;
  font-weight: 400;
  line-height: 150px;
  letter-spacing: 0px;
  text-align: center;
}
@mixin P-three-tap {
  font-family: Barlow;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0px;
  text-align: center;
}

@mixin P-one-desktop {
  font-family: Barlow Condensed;
  font-size: 20px;
  font-style: normal;
  font-weight: 300;
  line-height: 34px;
  letter-spacing: 4.724999904632568px;
  text-align: left;
}

@mixin P-two-desktop {
  font-family: Bellefair;
  font-size: 120px;
  font-style: normal;
  font-weight: 400;
  line-height: 172px;
  text-align: left;
  width: 100%;
}
@mixin P-three-desktop {
  font-family: Barlow;
  font-size: 12.9px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: 0px;
  text-align: left;
}

@mixin circle-details($w-h, $left, $top) {
  @include centerlize(center, center);
  @include circel($w-h) {
    @content;
    position: absolute;
    left: $left;
    top: $top;
    transform: translateX(-50%);
    background-color: white;
  }
}

@mixin textDiv($w, $h, $left, $top) {
  @content;
  color: white;
  position: absolute;
  width: $w;
  height: $h;
  left: $left;
  top: $top;
  padding: 0 15px;
}
