.mobile-active {
  visibility: visible !important;
  opacity: 1 !important;
  transform: scale(1) !important;
}

.active {
  border-bottom: 2px solid white !important;
  color: white !important;
}

.visible {
  transform: scale(1) !important;
}

.active-crew {
  background-color: white !important;
}

.active-tech {
  background-color: white !important;
}