* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  scroll-behavior: smooth;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  margin: 0;
  padding: 0;
  font-family: 'Bellefair', serif;
}

:root {
  --fs-header: 1.5rem;
  --ln-header: 1.5rem;
  --fs-title: 3.4rem;
  --ln-title: 2.4rem;
  --fs-para: 1.1rem;
  --ln-para: 1.4rem;
  --color-red: red;
}

@media (min-width: 767px) and (max-width: 1999px) {
  :root {
    --fs-header: 1.7rem;
    --ln-header: 1.7rem;
    --fs-title: 3.4rem;
    --ln-title: 2rem;
    --color-red: rgb(26, 129, 40);
    --fs-para: 1.3rem;
    --ln-para: 1.9rem;
  }
}

@media (min-width: 1200px) {
  :root {
    --fs-header: 2rem;
    --ln-header: 2rem;
    --fs-title: 4rem;
    --ln-title: 2.4rem;
    --fs-para: 1.3rem;
    --ln-para: 1.9rem;
    --color-red: rgb(147, 119, 212);
  }
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
}

small {
  display: block;
  color: #D0D6F9;
}

.mobile-active {
  visibility: visible !important;
  -webkit-transform: translateX(0px) !important;
          transform: translateX(0px) !important;
  opacity: 1 !important;
}

.active {
  border-bottom: 2px solid white !important;
  color: white !important;
}

.visible {
  -webkit-transform: scale(1) !important;
          transform: scale(1) !important;
}

.active-crew {
  background-color: white !important;
}

.active-tech {
  background-color: white !important;
  color: black !important;
}

.container {
  width: 90%;
  margin: 0 auto;
  padding: 0 15px;
}

@media (max-width: 575px) {
  .container {
    width: 100%;
  }
}

@media (min-width: 576px) {
  .container {
    width: 540px;
  }
}

@media (min-width: 767px) {
  .container {
    width: 720px;
  }
}

@media (min-width: 992px) {
  .container {
    width: 960px;
  }
}

body header {
  position: -webkit-sticky;
  position: sticky;
  top: 20px;
  z-index: 1000;
  height: 65px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 15px;
  margin-bottom: 50px;
}

@media (min-width: 992px) {
  body header .logo a img {
    width: 55px;
    height: 55px;
  }
}

body header .burger {
  padding-right: 15px;
  cursor: pointer;
}

@media (min-width: 767px) {
  body header .burger {
    display: none;
  }
}

body header nav {
  background: rgba(255, 255, 255, 0.04);
  -webkit-backdrop-filter: blur(81.5485px);
          backdrop-filter: blur(81.5485px);
  -webkit-transition: .5s;
  transition: .5s;
  letter-spacing: 3px;
  color: white;
  padding-inline: clamp(1rem, 6vw, 5.25rem);
}

@media (min-width: 767px) {
  body header nav {
    position: relative;
    height: 100%;
  }
}

@media (max-width: 766px) {
  body header nav {
    position: absolute;
    right: 0;
    top: 60px;
    height: calc(100vh - 80px);
    width: 70%;
    border-radius: 10px;
    -webkit-transform: translateX(-60px);
            transform: translateX(-60px);
    opacity: 0;
    visibility: hidden;
    padding: 0;
  }
}

@media (min-width: 992px) {
  body header nav::before {
    content: "";
    position: absolute;
    top: 50%;
    left: -50%;
    width: 50%;
    height: 8px;
    background: rgba(255, 255, 255, 0.04);
    -webkit-backdrop-filter: blur(81.5485px);
            backdrop-filter: blur(81.5485px);
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
  }
}

body header nav .close {
  position: relative;
  left: 70%;
  top: 25px;
  font-size: 30px;
  cursor: pointer;
  font-weight: 100;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  width: 10px;
  height: 10px;
  padding: 5px 8px;
  border-radius: 50%;
  border: 1px solid white;
}

@media (min-width: 767px) {
  body header nav .close {
    display: none;
  }
}

body header nav .close:hover {
  background-color: #ee4242;
}

body header nav ul {
  font-style: italic;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 766px) {
  body header nav ul {
    margin-top: 60px;
    height: 80%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    font-size: 18px;
  }
}

@media (min-width: 767px) {
  body header nav ul {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    height: 100%;
    font-size: 14px;
    line-height: 1.5;
  }
}

@media (min-width: 1200px) {
  body header nav ul {
    font-size: 14px;
  }
}

@media (min-width: 767px) {
  body header nav ul li {
    padding: 0 10px;
  }
}

@media (max-width: 766px) {
  body header nav ul li {
    max-height: 100%;
    padding: 15px 0;
  }
}

body header nav ul li a {
  color: inherit;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: .3s;
  transition: .3s;
}

@media (max-width: 766px) {
  body header nav ul li a {
    gap: 10px;
  }
  body header nav ul li a:hover {
    -webkit-transform: translateX(-15px);
            transform: translateX(-15px);
  }
}

@media (min-width: 767px) {
  body header nav ul li a {
    height: 100%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 0 5px;
  }
  body header nav ul li a span {
    padding: 0 5px 0 0;
  }
}

body {
  background-image: url(../../imgs/crew/background-crew-mobile.jpg);
  background-position: center;
  background-size: cover;
}

@media (min-width: 767px) {
  body {
    background-image: url(../../imgs/crew/background-crew-tablet.jpg);
  }
}

@media (min-width: 992px) {
  body {
    background-image: url(../../imgs/crew/background-crew-tablet.jpg);
  }
}

body section .container {
  color: white;
  text-align: center;
  position: relative;
}

@media (min-width: 1200px) {
  body section .container {
    width: 85%;
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: horizontal !important;
    -webkit-box-direction: reverse !important;
        -ms-flex-direction: row-reverse !important;
            flex-direction: row-reverse !important;
    gap: 110px;
  }
}

@media (min-width: 767px) {
  body section .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
}

body section .container .head-crew {
  color: #D0D6F9;
}

@media (min-width: 1200px) {
  body section .container .head-crew {
    position: absolute !important;
    top: 0px !important;
    left: 20px !important;
    margin: 0 !important;
  }
}

@media (min-width: 767px) {
  body section .container .head-crew {
    position: absolute;
    top: 10px;
    left: 20px;
  }
}

body section .container .head-crew h3 {
  font-size: var(--fs-header);
  font-style: normal;
  font-weight: 400;
  line-height: var(--ln-header);
  letter-spacing: 2px;
  text-transform: uppercase;
}

body section .container .head-crew h3 span {
  margin-right: 9px;
}

body section .container .img-slider {
  width: 190px;
  height: 250px;
  margin: 35px auto 20px;
  overflow: hidden;
  position: relative;
}

@media (min-width: 767px) {
  body section .container .img-slider {
    width: 390px;
    height: 500px;
  }
}

@media (min-width: 1200px) {
  body section .container .img-slider {
    width: 400px;
    height: 510px;
    margin: 0;
  }
}

body section .container .img-slider img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
}

body section .container .crew-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: space-evenly;
      -ms-flex-align: space-evenly;
          align-items: space-evenly;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (min-width: 767px) {
  body section .container .crew-content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 85%;
    margin: 55px auto 0;
  }
}

@media (min-width: 1200px) {
  body section .container .crew-content {
    text-align: start;
    width: 53%;
  }
}

body section .container .crew-content .crew {
  margin-bottom: 25px;
}

@media (min-width: 767px) {
  body section .container .crew-content .crew {
    margin: 0;
  }
}

@media (min-width: 1200px) {
  body section .container .crew-content .crew {
    margin: 15px auto 0 0;
  }
}

body section .container .crew-content .crew button {
  cursor: pointer;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  background-color: #8a8a8a;
  margin: 10px;
  border: none;
  outline: none;
  -webkit-transition: all .3s ease-out;
  transition: all .3s ease-out;
}

body section .container .crew-content .crew button:hover {
  background-color: white;
  outline: 2px #D0D6F9 solid;
}

@media (min-width: 767px) {
  body section .container .crew-content .crew button {
    width: 14px;
    height: 14px;
    border-radius: 50%;
  }
}

@media (min-width: 1200px) {
  body section .container .crew-content .crew button {
    width: 35px;
    height: 35px;
    border-radius: 50%;
  }
}

body section .container .crew-content .info {
  position: relative;
  width: 100%;
  min-height: 280px;
}

@media (min-width: 767px) {
  body section .container .crew-content .info {
    min-height: 260px;
  }
}

@media (min-width: 1200px) {
  body section .container .crew-content .info {
    min-height: 285px;
  }
}

body section .container .crew-content .info .card {
  height: 100%;
  width: 100%;
  position: absolute;
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  overflow: hidden;
}

body section .container .crew-content .info .card small {
  text-transform: uppercase;
  letter-spacing: 3px;
  mix-blend-mode: normal;
  color: #d3d1d1;
  font-size: var(--fs-para);
  font-style: normal;
  font-weight: 400;
  line-height: var(--ln-para);
}

body section .container .crew-content .info .card h4 {
  font-size: calc(var(--fs-title) - 0.95rem);
  font-style: normal;
  font-weight: 400;
  line-height: var(--ln-title);
  text-transform: uppercase;
  letter-spacing: 3px;
  margin: 25px 0 18px;
}

@media (min-width: 767px) {
  body section .container .crew-content .info .card h4 {
    margin: 25px 0 10px;
  }
}

@media (min-width: 1200px) {
  body section .container .crew-content .info .card h4 {
    margin: 25px 0 10px;
  }
}

body section .container .crew-content .info .card p {
  font-size: var(--fs-para);
  font-style: normal;
  font-weight: 400;
  line-height: var(--ln-para);
  color: #D0D6F9;
  padding: 20px 0;
}

@media (min-width: 1200px) {
  body section .container .crew-content .info .card p {
    max-width: 80%;
  }
}
